@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(330deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.enemy
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         infinite;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
  }

